astroid==4.0.4
certifi==2026.2.25
charset-normalizer==3.4.6
dill==0.4.1
idna==3.11
isort==8.0.1
mccabe==0.7.0
platformdirs==4.9.4
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.5
requests==2.32.5
tomlkit==0.14.0
urllib3==2.6.3
